.header {
  text-align: center;
  font-size:1.5vw;
  border: 1px solid black;
  background: rgba(188, 207, 14, 0.945);
}

.content {
  font-size:1.5vw;
}

mat-grid-list {
  background: rgba(142, 238, 145, 0.829);
  border: 1px solid black;
  margin: 10px;
  color: rgb(12, 11, 11);
}


img {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

section {
  font-size: 1.2vw;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  min-width: 100%;
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 90%;
}

section p {
  padding-right: 10px;
}

.book-button {
  background-color: rgb(224, 17, 179) !important;
  color: white !important;
  position: sticky;
  bottom: 10px;
  z-index: 1;
  min-height: 50px;
  font-weight: bold;
  font-size: 20px;
  min-width: 20%; 
  left: 40%; 
}


@media screen and (max-width: 600px) {
  .header {
    font-size: 4vw;
  }
  section {
    font-size: 2.5vw;
  }

  .book-button{
    left: 35%; 
  }

}



