<div class="main-container">
  <mat-card>
		<mat-card-title>
			Welcome To Kerala
		</mat-card-title>
		<mat-card-content>
			For many travellers, Kerala is South India's most serenely beautiful state. This slender coastal strip is defined by its layered landscape: almost 600km of glorious Arabian Sea coast and beaches; a languid network of glistening backwaters; and the spice- and tea-covered hills of the Western Ghats, dotted with fiercely protected wildlife reserves and cool hill stations such as Munnar. Just setting foot on this swathe of soul-soothing, palm-shaded green will slow your subcontinental stride to a blissed-out amble. Kerala is a world away from the frenzy of the rest of India, its long, fascinating backstory illuminated by historically evocative cities like Kochi (Cochin) and Thiruvananthapuram (Trivandrum).
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>
			A Team since 1976
		</mat-card-title>
		<mat-card-content>
			With a passion to travel and to explore new destinations with a team of experianced drivers. Familier with tourist places, facilites, activities to provide a memmorable time to Guests beyond their
			expectations. We adhere to all government regulations and follow strict safety procedures to provide our clients high-quality services. We never compromise on quality and that helps us to make sure that our guests are having a wonderful and satisfying Kerala trip. Client satisfaction is our motto, and we thrive to meet their holiday expectations. All these qualities make our organisation one of the most sought after travel planners in the state.
		</mat-card-content>
	</mat-card>
  <mat-card>
		<mat-card-title>
			Our Services
		</mat-card-title>
		<mat-card-content>
      We provide
			<ul>
        <li>Family Packages</li>
        <li>Pilgrimage Travel</li>
        <li>Budget Friendly Packages</li>
        <li>Luxury Travel Plans</li>
        <li>Weekend getaway Packages</li>
        <li>Honeymoon Packages</li>
      </ul>
		</mat-card-content>
	</mat-card>
  
</div>