<div class="about-container">
	<mat-card>
		<mat-card-title>
			A Team since 1976
		</mat-card-title>
		<mat-card-content>
			<p>
				With a passion to travel
				And to explore new destinations
				With a team of Drivers,
				speak English, Hindi, Arabic and different Indian laguages..
				Familier with tourist places, facilites, activities to provide a memmorable time to Guests beyond their
				expectations
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card>Simple card</mat-card>
	<mat-card>Simple card</mat-card>
</div>