<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1">
	<mat-grid-tile>
		<section>
			<h2><img src="https://raw.githubusercontent.com/akhiltn/cochin-travels-app/feature4_optimize/src/assets/images/logo-xs.png"> Cochin Travles</h2>
				<p><i>"Book with us and book it out here!"</i></p>
		</section>
	</mat-grid-tile>
	<mat-grid-tile>
		<section class="contactus-tile">
			<h2>
				Contact Us
			</h2>
			<address>
				Cochin Travels,
				Kumbalam.P.O
				Kochi - 682506
				Kerala
			</address>
			<a class="contact-a" href="mailto: mail@cochintravels.com">mail@cochintravels.com</a><br>
			<a class="contact-a"  href="tel:+91-9037980745">+91-9037980745</a>
		</section>
	</mat-grid-tile>
	<mat-grid-tile>
		<a href="https://www.facebook.com/cochintravels.in/" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-linkedin"></a>
		<a href="#" class="fa fa-instagram"></a>
	</mat-grid-tile>
	<mat-grid-tile class="quicklinks-tile">
		<section >
			<h2>
				Quick Links
			</h2>
      <a routerLink="/home" routerLinkActive="mat-accent" mat-button>Home</a>
        <a routerLink="/about" routerLinkActive="mat-accent" mat-button>About</a>
        <a routerLink="/booking" routerLinkActive="mat-accent" mat-button>Booking</a>
		</section>
    &nbsp;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
	</mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<div class="a">
  kerala, kerala travel, kerala tours, kerala tourism, kerala hotels, hotels in kerala, kerala tour packages, munnar, munnar resorts, munnar hotels, munnar accommodation,alleppey backwaters, kumarakom backwater, house boat
</div>