<mat-grid-list [cols]="numOfCol" rowHeight="2:1" (window:resize)="onResize($event)">
	<mat-grid-tile>
		<mat-grid-tile-header>
			<h1>Cochin Travels</h1>
		</mat-grid-tile-header>
		<p>Pioneers in travel industry-destinations ultimate</p>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-grid-tile-header>
			<h1>Contact Us</h1>
		</mat-grid-tile-header>
		<address>
			Cochin Travels<br>
      opp. RPMHS School<br>
      Kumbalam.P.O<br>
      Kochi-682506<br>
      Kerala, India<br>
			Email: <a href="mailto: mail@cochintravels.com">mail@cochintravels.com</a>
		</address>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-grid-tile-header>
			<h1>Social</h1>
		</mat-grid-tile-header>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-whatsapp"></a>
	</mat-grid-tile>
	<mat-grid-tile>
    <mat-grid-tile-header>
			<h1>Quick Link</h1>
		</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>