.menu-spacer {
  flex: 1 1 auto;
}

.custom-sidenav-container { 
    position: inherit;
    height: 100%;
    display: inherit;
    transform: inherit; 
}

img {
  height: 50px;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.list-item-active {
  font-weight: bold;
  color: #ffbf00 !important;
  background: rgba(240, 237, 237, 0.507);
}