<div class="appDiv">
	<marquee width="100%" direction="left" height="20px" onmouseover="this.stop();" onmouseout="this.start();">
		Reach us <a href="tel:+91-9037980745">+91-9037980745</a>
		<mat-icon>call</mat-icon> &nbsp; <a href="mailto: mail@cochintravels.com">mail@cochintravels.com</a>
		<mat-icon> email</mat-icon>
	</marquee>
	<header>
		<header-nav></header-nav>
	</header>
</div>
<main>
	<router-outlet></router-outlet>
</main>
<footer-menu></footer-menu>
<button title="Home Page" class="homeButton" mat-fab routerLink = "/home">
	<mat-icon>home</mat-icon>
</button>
<a title="Say Hello" href="tel:+91-9037980745">
	<button class="callButton" mat-fab routerLink = "/home">
		<mat-icon>call</mat-icon>
	</button>
</a>
<a title="Write Hi" href="mailto: mail@cochintravels.com">
	<button class="emailButton" mat-fab routerLink = "/home">
		<mat-icon>mail_outline</mat-icon>
	</button>
</a>
<a title="Say Hello" href="https://wa.me/919037980745">
	<button class="waButton" mat-fab routerLink = "/home">
		<i class="fa fa-whatsapp"></i>
	</button>
</a>