<marquee width="100%" direction="left" height="15px" onmouseover="this.stop();" onmouseout="this.start();">
	Reach us <a href="tel:+91-9037980745">+91-9037980745</a><mat-icon>call</mat-icon> <a href = "mailto: mail@cochintravels.com">mail@cochintravels.com</a><mat-icon> email</mat-icon>
</marquee>
<header>
	<header-nav></header-nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
	<footer-menu></footer-menu>
</footer>
<button mat-fab routerLink = "/home"><mat-icon>home</mat-icon></button>