.appDiv{
  line-height: 0px;
}

main {
  background-color: lightsteelblue;
  background-image: url("https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: repeat-y;
  min-height: 800px;
} 

.mat-icon {
  font-size: 15px;
}

button {
  color: white !important;
  position: fixed;
  right: 10px;
  z-index: 1;
  min-height: 70px;
  min-width: 70px;
  font-weight: bold;
  padding-right: 5px;
}

.homeButton {
  bottom: 10px;
  background-color: rgba(0, 128, 0, 0.5) !important;
}

.homeButton:hover {
  background-color: green !important;
}

.callButton{
  bottom: 100px;
  background-color: rgba(0, 0, 255, 0.5) !important;
}

.callButton:hover {
  background-color: blue !important;
}

.emailButton{
  bottom: 190px;
  background-color: rgba(255, 166, 0, 0.5) !important;
}

.emailButton:hover{
  background-color: orange !important;
}

.waButton{
  padding-right: 0px;
  bottom: 280px;
  background-color: #25d36570 !important;
}

.waButton:hover{
  background-color: #25D366 !important;
}

.waButton i{
  font-size:48px
}


.mat-icon {
  font-size: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}

marquee {
  padding: 1px 0;
  margin:0;
  background-color: #673AB7;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
}

/* unvisited link */
marquee a:link {
  color: #66ffcc;
}

/* visited link */
marquee a:visited {
  color: green;
}

/* mouse over link */
marquee a:hover {
  color: hotpink;
}

/* selected link */
marquee a:active {
  color: blue;
}

@media only screen and (max-width: 600px) {
  button {
    min-height: 40px;
    min-width: 40px;
  }
  .callButton{
    bottom: 70px;
  }
  .emailButton{
    bottom: 130px;
  }
  .waButton{
    bottom: 195px;
  }
  .waButton i{
    font-size:40px;
  }
}