<table class="season-table">
	<tr>
		<th style="text-align:center">Season</th>
		<th style="text-align:center">Peak Season</th>
	</tr>
  <tr>
		
		<td><b>October to March</b> is the desired time to visit Kerala. This is the time when Kerala has a comfortable	climate and pleasant weather with less humidity. The air temperature during the season of winter fluctuates between 10°C and 25°C.
		</td>
		<td><b>15 December to 15 January</b> is the  best time to visit Kerala. This is the time when Kerala has a comfortable climate and pleasant weather with less humidity.The climate of Kerala in winter is simply delightful. With a fall in temperature and humidity levels, one can bask in the green charm.
		</td>
	</tr>
</table>


<table class="mat-elevation-z8 price-table">
	<thead>
		<tr>
			<th *ngFor="let heading of tableHeadings">{{heading}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let price of priceList">
			<td>{{price.packageClass}}</td>
			<td>{{price.numOfPersons}}</td>
			<td>{{price.seasonPerHPrice}}</td>
		</tr>
	</tbody>

</table>