<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
	<mat-card class="package-card" *ngFor="let packageInfo of packageInfoList">
		<mat-card-header>
			<mat-card-title>
				<div class="card-title">{{packageInfo.title}}</div>
			</mat-card-title>
			<mat-card-subtitle><em class="flash">{{packageInfo.subtitle}}</em></mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image alt="Placeholder Image" [src]="packageInfo.imageURL">
		<mat-card-content>
			<p>
				{{packageInfo.content}}
			</p>
		</mat-card-content>
		<mat-card-actions align='end' >
			<button mat-button routerLink = "/about">VIEW</button>
		</mat-card-actions>
	</mat-card>
</div>